*{
    padding: 0px;
    margin: 0px;
}

header{
   background-color: #F9FAFB; 
   width: 100vw;
   height: 192px;
   display: flex;
   justify-content: center;
   align-items: center; 
}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__content_up{
    display: flex;
    justify-content: space-between;
    width: 1536px;
}

.header__content_down{
    display: flex;
    justify-content: space-between;
    width: 1536px;
    margin-top: 24px
}

.header__content_up_left{
    display: flex;
    align-items: center;
}
.header__content_up_right{
    display: flex;
}

.header__title{
    font-family: Abril Fatface;
    font-size: 1.5em;
}

.header_text_up{
    color: #111827; 
}

.header__text_down{
    text-align: end;
    color: #111827; 
}

.header__text_main{
    text-align: end;
    color: #111827; 
}

.header__line{
    height: 4.75em;
    width: 1px; 
    background-color: #A78BFA;
    margin: 0px 12px 0px;
}

.header__number{
    font-family: alfa slab one;
    font-size: 2.25em;
}

.header__text_info{
    font-family: alfa slab one;
    font-size: 1.5em;
}

.header__info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header__menu{ 
    font-family: alha slab one;
}

nav ul{
    display: flex;
    
}

nav ul li a{
    text-decoration: none;
    list-style-type: none;
    color: #111827;     
    transition: color 0.2s ease;
}

nav ul li a:hover{
    color: #8B5CF6;
}

nav ul li{ 
    list-style-type: none;
    margin-right: 24px;
}

.header__button{
    width: 186px;
    height: 44px;
    color: #F9FAFB;
    background-color: #8B5CF6;
    border: none;   
    border-radius: 4px;
}

main{
    display: flex;
    align-items: center;
    padding-top: 72px;
    background-color: #E5E7EB;
    flex-direction: column;
}

.main__info{
    width: 1536px;
    display: flex;
}
.main__info_block{
    width: 756px;
}

.main__info_block_up_text{
    font-family: alfa slab one;
    font-size: 2.25em;
    font-weight: 400;
}

.main__info_block_up_down{
    margin: 12px 0px 16px;
    font-family: alfa slab one;
    font-size: 1.25em;
    font-weight: 400;
}
.main__info_block_img{
    width: 756px;
    height: 392px;
}

.shipping__calculator{
    width: 756px;
    height: 584px;
    margin-left: 24px;
    background-color: #F9FAFB;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding-top: 24px;
    flex-direction: column;

}

.shipping__calculator_title{
    font-family: alha slab one;
    font-size: 30px;
    color: #111827;
}
.shipping__calculator_hint_info{
    font-family: alha slab one;
    font-size: 16px;
    color: #111827;
    text-align: center;
    margin-top: 16px;
}

.shipping__calculator_input{
    width: 496px;
    height: 48px;
    margin-top: 28px;
    border-radius: 4px;
    font-family: alha slab one;
    font-size: 16px;
    padding-left: 12px;
    border: #111827 2px solid;
    box-sizing: border-box;
}

.shipping__calculator_input::placeholder{
    font-family: alha slab one;
    font-size: 16px;
    color: #9CA3AF;
}

.shipping__calculator_form{
    margin-top: 24px;
    width: 236px;
    height: 48px;
    border-radius: 4px;
    font-family: alha slab one;
    font-size: 16px;
    padding-left: 12px;
    border: #111827 2px solid;
}

.shipping__calculator_form:last-child{
    margin-left: 24px;
}

.shipping__calculator_form::placeholder{
    font-family: alha slab one;
    font-size: 16px;
    color: #9CA3AF;
}

.shipping__calculator_block{
    width: 496px;
    display: flex;
    justify-content: space-between;
}

.shipping__calculator_button{
    width: 496px;
    height: 44px;
    margin-top: 28px;
    border-radius: 4px;
    background-color: #8B5CF6;
    border: none;
    font-family: alha slab one;
    font-size: 16px;
    color: #F9FAFB; 
}

.block__our_advantages{
    margin-top: 72px;
}

.block__our_advantages_title{
    color: #111827;
    font-family: alha slab one;
    font-size: 30px;
    text-align: center;
}

.block__our_advantages_content{
    display: flex;
    align-items: center;
    width: 496px;
    height: 184px;
}

.text__our_advantages{
    margin-left: 12px;
}

.title__our_advantages{
    font-family: alha slab one;
    font-size: 24px;
}

.main_text__our_advantages{
    margin-top: 12px;
    font-family: alha slab one;
    font-size: 14px;
}

.block__our_advantages_block_container{
    display: flex;
    width: 1536px;
    justify-content: space-between;
}

.titile__ouality_assurance{
    font-family: alfa slab one;
    font-size: 30px;
    color: #111827;
}

.block__ouality_assurance{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 72px;
    width: 1536px;
}

.text__ouality_assurance{
    font-family: alfa slab one;
    font-size: 16px;
    color: #111827;
    margin-top: 12px;
}

.cetificate__text{
    font-family: alfa slab one;
    font-size: 18px;
    color: #111827;
}

.certificate__block{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.cerificate__button{
    background-color: #8B5CF6;
    width: 293px;
    height: 56px;
    border: none;
    border-radius: 12px;
    margin-top: 36px;
    font-family: alfa slab one;
    font-size: 16px;
    color: #F9FAFB;
}

.swiper{
    margin-top: 72px;
    width: 1536px;
    height: 386px;
}

.swiper-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev{
    content: url(image/left-arrow.png);
    height: 60px;
    width: 60px;
}

.swiper-button-next{
    content: url(image/right-arrow.png);
    height: 60px;
    width: 60px;
}

.slider__block{
    width: 626px;
    height: 318px;
    background-color: #F9FAFB;
    border-radius: 16px
}

.slider__review{
    width: 540px;
    text-align: start;
    font-family: alfa slab one;
    font-size: 24px;
    color: #111827;
}

.swiper-slide{
    display: flex;
    width: 1276px;
    justify-content: space-evenly;
}

.slider__content{
    margin: 32px 43px;
}

.slider__review_author{
    bottom: 100px;
    position: absolute;
    color: #6B7280;
    font-family: alfa slab one;
    font-size: 24px;
}

.slider__review_author::after{
    content: url(image/commas.png);
    margin-left: 400px;
}